<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 259.2 kB/s eta 0:00:23
     ---------------------------------------- 0.1/6.0 MB 409.6 kB/s eta 0:00:15
      --------------------------------------- 0.1/6.0 MB 774.0 kB/s eta 0:00:08
     -- ------------------------------------- 0.3/6.0 MB 1.4 MB/s eta 0:00:05
     --- ------------------------------------ 0.5/6.0 MB 1.7 MB/s eta 0:00:04
     ----- ---------------------------------- 0.8/6.0 MB 2.4 MB/s eta 0:00:03
     ------ --------------------------------- 1.0/6.0 MB 2.8 MB/s eta 0:00:02
     ------- -------------------------------- 1.0/6.0 MB 2.8 MB/s eta 0:00:02
     ------- -------------------------------- 1.2/6.0 MB 2.6 MB/s eta 0:00:02
     --------- ------------------------------ 1.4/6.0 MB 2.8 MB/s eta 0:00:02
     --------- ------------------------------ 1.4/6.0 MB 2.6 MB/s eta 0:00:02
     --------- ------------------------------ 1.4/6.0 MB 2.4 MB/s eta 0:00:02
     ---------- ----------------------------- 1.5/6.0 MB 2.4 MB/s eta 0:00:02
     ---------- ----------------------------- 1.5/6.0 MB 2.4 MB/s eta 0:00:02
     ---------- ----------------------------- 1.6/6.0 MB 2.2 MB/s eta 0:00:02
     ----------- ---------------------------- 1.7/6.0 MB 2.1 MB/s eta 0:00:03
     ------------ --------------------------- 1.8/6.0 MB 2.1 MB/s eta 0:00:02
     ------------ --------------------------- 1.8/6.0 MB 2.1 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 2.1 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 2.1 MB/s eta 0:00:02
     ------------- -------------------------- 2.1/6.0 MB 2.0 MB/s eta 0:00:02
     ------------- -------------------------- 2.1/6.0 MB 2.0 MB/s eta 0:00:02
     ------------- -------------------------- 2.1/6.0 MB 1.9 MB/s eta 0:00:03
     ------------- -------------------------- 2.1/6.0 MB 1.9 MB/s eta 0:00:03
     ------------- -------------------------- 2.1/6.0 MB 1.9 MB/s eta 0:00:03
     ------------- -------------------------- 2.1/6.0 MB 1.9 MB/s eta 0:00:03
     -------------- ------------------------- 2.2/6.0 MB 1.7 MB/s eta 0:00:03
     -------------- ------------------------- 2.2/6.0 MB 1.7 MB/s eta 0:00:03
     --------------- ------------------------ 2.3/6.0 MB 1.6 MB/s eta 0:00:03
     --------------- ------------------------ 2.4/6.0 MB 1.7 MB/s eta 0:00:03
     ---------------- ----------------------- 2.5/6.0 MB 1.7 MB/s eta 0:00:03
     ----------------- ---------------------- 2.6/6.0 MB 1.7 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 1.7 MB/s eta 0:00:02
     ------------------ --------------------- 2.7/6.0 MB 1.7 MB/s eta 0:00:02
     ------------------ --------------------- 2.8/6.0 MB 1.7 MB/s eta 0:00:02
     ------------------ --------------------- 2.8/6.0 MB 1.7 MB/s eta 0:00:02
     ------------------ --------------------- 2.8/6.0 MB 1.6 MB/s eta 0:00:02
     ------------------- -------------------- 2.8/6.0 MB 1.6 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.6 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 1.0 MB/s eta 0:00:04
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.0 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 914.9 kB/s eta 0:00:04
     ------------------------------ --------- 4.6/6.0 MB 1.4 MB/s eta 0:00:01
     ---------------------------------- ----- 5.2/6.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 1.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.4/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------- -- 5.5/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 1.5 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 1.6 MB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 1.5 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=2e3bbbc7c0dd4d3fc8414ca293f8132a0499505731e34fb94b797bea445646ef
  Stored in directory: c:\users\sb info\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
# !pip install ipython-sql
%load_ext sql

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [8]:
# !pip install -q pandas==1.1.5
cur

In [7]:
%sql sqlite:///my_data1.db

In [9]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

**Note:This below code is added to remove blank rows from table**

In [12]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-08-12,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-08-10,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-01-03,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [13]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [14]:
%sql select Distinct Launch_Site from SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select * from SPACEXTABLE WHERE Launch_Site like 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
%sql select SUM(PAYLOAD_MASS__KG_) as 'Total Payload mass by NASA(CRS)' from SPACEXTABLE where Customer='NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
%sql select Booster_Version,AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version='F9 v1.1'

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [18]:
%sql select min(Date), LANDING_OUTCOME from SPACEXTABLE WHERE LANDING_OUTCOME='Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22', 'Success (ground pad)')]

In [1]:
# %sql select BOOSTER_VERSION,date, landing_outcome from spacextable

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
%sql select Booster_version from spacextable where Landing_Outcome='Success (drone ship)' and PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [57]:
%sql SELECT count(MISSION_OUTCOME),mission_outcome FROM SPACEXTABLE group by mission_outcome

 * sqlite:///my_data1.db
Done.

[(1, 'Failure (in flight)'),
 (98, 'Success'),
 (1, 'Success '),
 (1, 'Success (payload status unclear)')]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [70]:
%sql select booster_version from spacextable where payload_mass__kg_=(select max(payload_mass__kg_) from spacextable)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [53]:
%%sql 
select substr(Date, 6, 2) as month,landing_outcome,booster_version,launch_site from spacextable where
landing_outcome='Failure (drone ship)' and substr(Date,1,4)='2015'

 * sqlite:///my_data1.db
Done.

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [54]:
# %%sql 
# select substr(Date, 6, 2)as month,Date,landing_outcome,booster_version,launch_site from spacextable

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [82]:
# SELECT Studentname, 
#        Subject, 
#        Marks, 
#        RANK() OVER(ORDER BY Marks DESC) Rank
# FROM ExamResult
# ORDER BY Rank;
%sql SELECT COUNT(LANDING_OUTCOME) as count,RANK() OVER(ORDER BY landing_outcome DESC) Rank FROM SPACEXTABLE WHERE date between '2010-06-04' and '2017-03-20'

 * sqlite:///my_data1.db
Done.

[(32, 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>